.env.test
.git
.github
.ruff_cache
.venv
**/__pycache__
**/.DS_Store
**/.mypy_cache
**/.pytest_cache
**/.ty_cache
**/*.pyc
**/node_modules
**/tests
azure_scripts
conftest.py
coverage.xml
data
dev_scripts
docker-compose.yaml
docs
e2e
frontend
justfile
load_test_runs
packages/data-curation/assets
scripts
terraform
