# Build output
target/
*.class
*_version.py
*.egg-info
build/

# Log file
*.log

# Project environment files
.env

# Python-Virtual Environments
.venv
.python-version

# Python-Coverage
.coverage
coverage.xml

# Editor settings
/.vscode/settings.json
.exrc
