# Build output
target/
*.class
*_version.py
*.egg-info
build/

# Log file
*.log

# Temporary files
*.swp
*~
*.bak
tmp/
temp/
*.tmp

# Project environment files
.env

# Python-Virtual Environments
.venv
.python-version

# Python Cache
__pycache__/
.pytest_cache/

# Python-Coverage
.coverage
coverage.xml

# Editor settings
/.vscode/settings.json
.exrc

# macOS
**/.DS_Store
