@forward 'uswds-theme';
@forward 'uswds';

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}
/**
  * @mixin
  * @desc Sets outline to a better complimentary and WCAG AA rated contrast
  * raio of `5.93:1` which works for graphic and large text.
  * source: https://webaim.org/resources/contrastchecker/?fcolor=82B4C9&bcolor=14333D
  */
@mixin outline-on-dark-bg {
  outline: 0.25rem solid var(--color-blue-cool-30);
  outline-offset: 2px;
}

/**
  * @desc Removes the focus outline when mouse-based or touch-based
  * interactions interact with any anchors to avoid two visual indicators.
  */
div:focus:not(:focus-visible),
button:focus:not(:focus-visible),
[href]:focus:not(:focus-visible) {
  outline: none;
}

/**
  * @desc Use a custom outline for anything that appears on a dark background
  * such as the <header /> and <footer /> elements for now. Targets the
  * Tailwind selector for the dark background set in the HTML rather than
  * specific HTML elements.
  */
.bg-blue-cool-80 {
  input:not([disabled]):focus,
  select:not([disabled]):focus,
  textarea:not([disabled]):focus,
  button:not([disabled]):focus,
  iframe:focus-visible,
  [href]:focus-visible,
  [tabindex]:focus-visible,
  [contentEditable='true']:focus-visible {
    @include outline-on-dark-bg;
  }
}

.drop-shadow-nav {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.15);
}

.usa-skipnav[href]:focus-visible {
  @include outline-on-dark-bg;
}

// turn off default  styling in favor of DIBBs styles
.usa-modal__main,
.usa-modal__content {
  padding: 0 !important;
}
.usa-label,
.usa-select {
  margin: 0;
}
.usa-table td,
.usa-table th {
  border: none;
}

@media only screen and (max-width: 480px) {
  .Toastify__toast {
    margin-left: 1rem !important;
    margin-bottom: 2rem !important;
  }
}

.Toastify__toast-container {
  .Toastify__toast--success {
    background-color: var(--color-state-success);
  }

  .Toastify__toast--error {
    background-color: var(--color-state-error);
  }

  .Toastify__progress-bar--success {
    background-color: var(--color-state-success-lighter);
  }

  .Toastify__progress-bar--error {
    background-color: var(--color-state-error-lighter);
  }
}

.Toastify__toast-body {
  margin: 0 !important;

  div {
    height: 100%;
    border-radius: var(--toastify-toast-bd-radius);
  }

  .usa-alert__body::before {
    mask-size: 1.5rem 1.5rem !important;
    top: unset !important;
  }

  .usa-alert__body > * {
    margin-left: 2rem !important;
  }
}

.usa-tooltip__trigger {
  padding: 0 !important;
}

.condition-creation-modal {
  .usa-modal__close {
    margin: 0;
  }
}
